version: '3.8'

x-service-template: &service-template
  build: .
  restart: always
  command: run
  stop_grace_period: 60s
  volumes:
    - "last-oasis-volume:/mnt/steam/"
  healthcheck:
    test: ["CMD", "python3", "/home/steam/src/healthcheck"]
    interval: 60s
    timeout: 10s
    start_period: 180s
    retries: 3

# @fixme Provide your credentials here
# x-environment-template: &environment-template
#   SERVER_CUSTOMER_KEY: XgZyB0HDYtv4JJ1tUUybXg
#   SERVER_PROVIDER_KEY: 6fSIs5nTwnhfjcaVlZ5BmA
#   SERVER_IP_ADDRESS: 233.252.0.98
#   SERVER_SLOTS: 25
#   # STEAM_USER defaults to "anonymous"; override only for a personal
#   # Steam account (e.g. STEAM_USER: FancyAlice)

services:
  # @note Don't remove this service. The `maintenance` service is used
  #       for installing and updating.
  maintenance:
    <<: *service-template
    restart: never
    command: help
    healthcheck:
      disable: true
    environment:
      <<: *environment-template

  # @example Single server with all required ENV variables set up
  # example-server:
  #   build: .
  #   restart: always
  #   command: run
  #   volumes:
  #     - "last-oasis-volume:/mnt/steam/"
  #   ports:
  #     - "62000:62000"
  #     - "62000:62000/udp"
  #     - "27015:27015"
  #     - "27015:27015/udp"
  #   environment:
  #     SERVER_CUSTOMER_KEY: nkOQrfNeXAn2ObOC
  #     SERVER_IDENTIFIER: example-server
  #     SERVER_IP_ADDRESS: 138.201.125.237
  #     SERVER_PORT: 62000
  #     SERVER_PROVIDER_KEY: lpfreWu4cNSUIPsG
  #     SERVER_QUERY_PORT: 27015
  #     SERVER_SLOTS: 5



  # @example Three different server with shared and additonal settings.
  # server-01:
  #   <<: *service-template
  #   ports:
  #     - "62001:62001"
  #     - "62001:62001/udp"
  #     - "62101:62101"
  #     - "62101:62101/udp"
  #   environment:
  #     <<: *environment-template
  #     SERVER_IDENTIFIER: server-01
  #     SERVER_PORT: 62001
  #     SERVER_QUERY_PORT: 62101

  # server-02:
  #   <<: *service-template
  #   ports:
  #     - "62002:62002"
  #     - "62002:62002/udp"
  #     - "62102:62102"
  #     - "62102:62102/udp"
  #   environment:
  #     <<: *environment-template
  #     SERVER_IDENTIFIER: server-02
  #     SERVER_PORT: 62002
  #     SERVER_QUERY_PORT: 62102

  # server-03:
  #   <<: *service-template
  #   ports:
  #     - "62003:62003"
  #     - "62003:62003/udp"
  #     - "62103:62103"
  #     - "62103:62103/udp"
  #   environment:
  #     <<: *environment-template
  #     SERVER_IDENTIFIER: server-03
  #     SERVER_PORT: 62003
  #     SERVER_QUERY_PORT: 62103

volumes:
  last-oasis-volume:
